@model MarketOn.Models.MothesOfModels
@{
    ViewBag.Title = "DetalleLista";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<div class="row">
    <div class="text-center">
        <h3> Detalle Lista - @Model.ListaCompra.ListaCompraNombre</h3>
    </div>
    <div class="row">
        <table class="table table-responsive text-center ">
            <thead>
                <tr>
                    <th style="text-align:center">Nombre de Producto</th>
                    <th style="text-align:center">Cantidad</th>
                    <th style="text-align:center">Estado</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var listaProductos in Model.ListaProductoCompra)
                    {
                        <tr>
                            <td>@listaProductos.ProductoNombre</td>
                            <td>@listaProductos.Cantidad</td>
                            @*<td>@listaProductos.Estado</td>*@
                            <td>Chekbox</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>