
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}

<div class="container" style="text-align: center">
    <div style="margin-bottom: 2.5%; width:100%">
        <div class="col-md-12 text-center">
            <h1>MarketOn</h1>
        </div>
    </div>
    <div>
        <div class="text-center" style="width:100%">
            <div style="width:100%">
                <div class="text-center" style="width:100%">
                    <div class="form-group">
                        <input type="text" class="form-control text-center" placeholder="Username o Email" id="username" style="display:initial" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control text-center" placeholder="Password" id="password" style="display: initial" required>
                    </div>
                </div>
                <div style="margin-top: 2.5%;" class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <a href="#" id="btnLogin" class="btn btn-danger col-md-12">Login</a>
                        <p>Aun no formas parte? <a href="" id="btnRegistro">Unete!</a></p>
                    </div>
                    <div class="col-md-5"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Registro</h4>
                    <button type="button" style="position: absolute;top: 20px;left: 90%;" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" id="ContenedorModal" style="display:flex"></div>
            </div>
        </div>
    </div>

</div>
@section scripts{
    <script type="text/javascript">
        alertify.set('notifier', 'position', 'bottom-left');
        var baseUrl = $("base").attr("href");

        $(document).ready(function () {
            $("#btnLogin").click(function (e) {
                e.preventDefault();

                var username = $("#username").val();
                var password = $("#password").val();

                $.ajax({
                    url: baseUrl + "Login/LoginValidator",
                    type: "POST",
                    data: JSON.stringify({ 'username': username, 'password': password }),
                    dataType: "json",
                    traditional: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.validation == true) {
                            window.location.href = data.url;
                        } else {
                            alertify.error('Usuario o Contraseña incorrectos');
                            return;
                        }
                    },
                    error: function () {
                        alertify.error("Error en el BackEnd!!");
                    }
                });
            });
        });

        $(document).ready(function () {
            $("#btnRegistro").click(function (e) {
                e.preventDefault();
                var ruta = baseUrl + "Login/Registro";

                $.get(ruta, null, function(response)
                {
                    $("#ContenedorModal").html(response)
                    $("#myModal").modal("show")
                    DataRegistro();
                })
                
                });
            });

        function DataRegistro() {

            var userValidator = false;
            var passwordValidator = false;

            $(document).ready(function () {
                $("#confirmPassword").change(function () {
                    passwordValidator = true;
                    if (this.value != $("#passwordReg").val()) {
                        passwordValidator = false
                        alertify.error('Favor confirmar contraseñas son distintas!');
                        $("#passwordReg").empty();
                        return;
                    }
                });
            });

            $(document).ready(function () {
                $("#usernameReg").change(function () {

                    var usernameReg = this.value;
                    userValidator = true;
                    $.ajax({
                        url: baseUrl + "Login/UserValidator",
                        type: "POST",
                        data: JSON.stringify({ 'username': usernameReg }),
                        dataType: "json",
                        traditional: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data == false) {
                                userValidator = false
                                alertify.error('Username ocupado');
                                $("#usernameReg").empty();
                                return;
                            }
                            alertify.success('Username valido');
                        },
                        error: function () {
                            alert("Error en el BackEnd!!");
                        }
                    });
                });
            });

            $(document).ready(function () {
                $("#Registro").click(function (e) {
                    e.preventDefault();

                    if (userValidator == true && passwordValidator == true) {
                        $("form").submit();
                        alertify.success('Registrado con exito!');

                    } else {
                        alertify.error('Confirmar que los campos esten correctos!');
                        return;
                    }
                });
            });
        }
    </script>
}
