@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

        <div class="Contenedor-Registro" style="display:inline-block">
            <div class="form-group text-center">
                <input type="text" class="form-control text-center" placeholder="Nombres" id="nombre">
            </div>
            <div class="form-group text-center">
                <input type="text" class="form-control text-center" placeholder="Apellidos" id="apellido">
            </div>
            <div class="form-group text-center">
                <input type="email" class="form-control text-center" placeholder="Correo Electronico" id="email">
            </div>
            <div class="form-group text-center">
                <input type="text" class="form-control text-center" placeholder="Nombre Usuario" id="username">
            </div>
            <div class="form-group text-center">
                <input type="password" class="form-control text-center" placeholder="Contraseña" id="password">
            </div>
            <div class="form-group text-center">
                <input type="password" class="form-control text-center" placeholder="Confirmar Contraseña" id="confirmPassword">
            </div>
            <div class="form-group text-center">
                <input type="text" class="form-control text-center" placeholder="Codigo Familia" id="familiaId">
            </div>
        </div>
