@{
    ViewBag.Title = "Home Page";
}


<div class="row">
<h1 class="text-center">MarketOn</h1>
</div>

<div class="row">
    <h2 class="text-center"> Productos en Inventario</h2>
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <table class="table text-center" style="width:100%; float:left" align="center">
            <thead >
                <tr>
                    <th style="text-align:center">Nombre</th>
                    <th style="text-align:center">Cantidad</th>
                    <th style="text-align:center">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nombre 1</td>
                    <td>Cantidad 1</td>
                    <td>Estado 1</td>
                </tr>
                <tr>
                    <td>Nombre 1</td>
                    <td>Cantidad 1</td>
                    <td>Estado 1</td>
                </tr>
                <tr>
                    <td>Nombre 1</td>
                    <td>Cantidad 1</td>
                    <td>Estado 1</td>
                </tr>
                <tr>
                    <td>Nombre 1</td>
                    <td>Cantidad 1</td>
                    <td>Estado 1</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-3"></div>
</div>