@{
    ViewBag.Title = "MarketOn";
}


<div class="row">
    <h1 class="text-center">MarketOn</h1>
</div>

<div class="row">
    <div class="text-center">
        <h3> Productos en Inventario</h3>
    </div>
    <div class="row">
        <table class="table table-responsive text-center ">
            <thead>
                <tr>
                    <th style="text-align:center">Nombre</th>
                    <th style="text-align:center">Cantidad</th>
                    <th style="text-align:center">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nombre 1</td>
                    <td>Cantidad 1</td>
                    <td>Estado 1</td>
                </tr>
                <tr>
                    <td>Nombre 1</td>
                    <td>Cantidad 1</td>
                    <td>Estado 1</td>
                </tr>
                <tr>
                    <td>Nombre 1</td>
                    <td>Cantidad 1</td>
                    <td>Estado 1</td>
                </tr>
                <tr>
                    <td>Nombre 1</td>
                    <td>Cantidad 1</td>
                    <td>Estado 1</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>