@model MarketOn.Models.MothesOfModels
@{
    ViewBag.Title = "MarketOn";
}


<div class="row">
    <h1 class="text-center">MarketOn</h1>
</div>

<div class="row">
    <div class="text-center">
        <h3> Productos en Inventario</h3>
    </div>
    <div class="row">
        <table class="table table-responsive text-center ">
            <thead>
                <tr> 
                    <th style="text-align:center">Nombre</th>
                    <th style="text-align:center">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var listaProductos in Model.ListaProducto)
                    {
                        <tr>
                            <td>@listaProductos.ProductoNombre</td>
                            <td>@listaProductos.Stock</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>